html {
  text-align: center;
  font-family: sans-serif;
}

body {
  background-color: white;
}

#title {
  margin: 50px;
}

#display {
  box-sizing: border-box;
  border: 7px solid #2a75bb;
  background-color: #ffcb05;
  box-shadow: 5px 5px 5px #3c5aa6;
  height: 750px;
  width: 500px;
  border-radius: 10px;
  margin: 0px auto;
}

#search-input {
  margin: 5px
}

#info {
  width: 50%;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;

}

#types {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#types p {
  border: 2px solid;
  border-radius: 4px;
  padding: 2px;
  margin-left: 20px;
}

.stats {
  text-align: left;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1px;
  margin-right: 200px;
}

label {
  margin-left: 0;
  margin-right: 50px;
  display: flex;
}


#image {
  height: 100px;
  width: 100px;
  margin: auto;
}